.i-filter {
	input {
		margin-right: 10px;
		position: relative;
		top: 2px;
	}
	label {
		cursor: pointer;
	}
}
.total-prd {
	font-size: 12px;
}
.list-prd-cate {
	position: relative;
	z-index: 2;
	.col-md-4 {
		padding: 15px;
	}
	.avarta {
		padding: 0 15px;
		a {
			display: flex;
			align-items: center;
		}
	}
	.info-cate {
		padding: 15px;
		ul {
			display: flex;
			justify-content: space-between;
		}
		.price-cate {
			font-size: 18px;
			font-weight: 400;
			color: $green;
		}
	}
}
#product {
	padding: 60px 0 0 0;
}
.info-preview {
	h1 {
		font-size: 24px;
	    font-weight: 400;
	    margin-bottom: 10px;
	}
	.del-vote {
		justify-content: space-between;
	    font-size: 12px;
	    color: #BBBBBB;
	}
	.price {
		font-family: Impact;
	    font-size: 52px;
	    font-weight: 900;
	    color: #E52E2D;
	}
	.info-prod {
		font-size: 14px;
    	color: #666666;
    	ul {
    		padding-left: 18px;
    		li {
    			padding: 3px 0;
    		}
    	}
	}
}
.style-prd {
	padding: 10px 0 20px 0;
}
.item-style {
	margin-bottom: 30px;
	h3 {
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 10px;
	}
}
.check-style {
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	label {
		cursor: pointer;
	}
}
.check-color {
	label {
		width: 70px;
		height: 60px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid transparent;
	}
	[type="radio"]:checked + label {
		border: 2px solid $yellow;
	}
}
.check-size {
	label {
		width: 30px;
		height: 30px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	[type="radio"]:checked + label {
		border: 1px solid $yellow;
		color: $yellow;
	}
}
.btn-buy-now {
	a {
		min-width: 150px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 36px;
		border-radius: 4px;
		color: $yellow;
		border: 1px solid $yellow;
	}
}
.btn-preview {
	padding: 20px;
    border: 1px solid #ddd;
    display: flex;
} 
.number-spinner {
	background: #f6f6f6;
    height: 40px;
    display: flex;
    align-items: center;
    .ns-btn {
    	cursor: pointer;
	    display: flex;
	    height: 40px;
	    justify-content: center;
	    align-items: center;
	    width: 40px;
	    font-size: 20px;
	    a {
	    	width: 40px;
		    height: 40px;
		    justify-content: center;
		    display: flex;
		    align-items: center;
	    }
    } 
    input {
    	width: 40px;
	    height: 40px;
	    text-align: center;
	    border: 0;
	    background: transparent;
	    font-weight: 700;
    }
}
.addto-cart {
	margin-left: 10px;
	a {
		min-width: 150px;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	    height: 40px;
	    border-radius: 4px;
	    color: #fff !important;
	    border: 1px solid #FAAD3D;
	    background: #FAAD3D;
	    padding: 0 15px; 
	}
}
.slider-nav {
	margin: 20px -10px 0 -10px;
	.clc {
		padding: 0 10px;
	}
}
.preview {
	padding-bottom: 60px;
}
.nav-tabs {
	margin-bottom: 30px;
    border-top: 1px solid #ddd;
    padding: 15px 0;
    li {
    	padding-right: 40px;
    	&:last-child {
    		padding-right: 0;
    	}
    	a {
    		color: #999999;
    		border: 0 !important;
    		padding: .5rem 0;
    		&.active, &:hover {
    			color: #000000 !important;
    			border: 0 !important;
    		}
    	}
    }
} 
.tab-content {
	padding-bottom: 60px;
}
.prd-subscribe {
	padding: 60px 0;
	background-size: cover !important;
}
.content-subs {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	input {
		width: 100%;
		border: 0;
		border-bottom: 2px solid #fff;
		height: 50px;
		font-size: 12px;
		color: #fff;
		background: transparent;
		&::placeholder {
			color: #fff;
		}
	}
	button {
		height: 50px;
		cursor: pointer;
		border: 0;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;
	}
}
#checkout {
	padding: 0 0 60px 0;
}
.form-checkout {
	.item {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		label {
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 5px;
			&.check-mem {
				margin-bottom: 0;
				cursor: pointer;
			}
		}
		input[type="text"] {
			width: 100%;
			height: 40px;
			background: #f6f6f6;
			border: 0;
			padding: 0 15px;
		}
		textarea {
			width: 100%;
			height: 100px;
			background: #f6f6f6;
			border: 0;
			padding: 0 15px;
		}
		input[type=checkbox] {
		    position: relative;
		    top: 2px;
		    margin-right: 5px;
		}
	}
}
.form-box-order {
    background: #f6f6f6;
    padding: 20px;
    .title {
	    font-size: 24px;
	    margin-bottom: 20px;
    }
    ul {
    	list-style: none;
    	li {
    		padding: 20px 0;
    		font-size: 14px;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		border-bottom: 1px solid #ddd;
    		&:last-child {
    			border-bottom: 0;
    			padding-bottom: 0;
    		}
    		.total {
    			font-size: 18px;
    		}
    	}
    }
}
.item-order {
	background: #fff;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .prd-left {
    	flex: 0 0 70%;
	    display: flex;
	    align-items: center;
    }
    .price {
    	text-align: center;
    	flex: 0 0 30%;
    }
}
.order-prd {
	display: flex;
    align-items: center;
    .avarta {
    	flex: 0 0 100px;
    	margin-right: 10px;
    }
    .info {
    	a {
    		display: block;
    		font-size: 14px;
    	}
    }
}
.method-order {
	padding: 20px 0;
    border-bottom: 2px solid #365A6E;
    margin-bottom: 20px;
    ul {
    	display: flex;
    	justify-content: space-between;
    	label {
    		cursor: pointer;
    	}
    }
}
.box-info-bank {
	background: #f6f6f6;
    margin-top: 20px;
    font-size: 14px;
    padding: 20px;
    color: #666666;
    p {
    	padding: 4px 0;
    }
}
#cart {
	padding: 0 0 60px 0;
}
.list-cart	{
	table {
		width: 100%;
		tr {
			border: 1px solid #ebebeb;
		}
	}
}
.box-cart-total {
	background: #f6f6f6;
    padding: 20px;
    .title {
    	margin-bottom: 0;
	    font-size: 18px;
	    padding-bottom: 20px;
	    border-bottom: 1px solid #ddd;
    }
    ul {
    	list-style: none;
    	margin-bottom: 20px;
    	.total {
    		font-size: 18px;
    	}
    	li {
    		padding: 20px 0;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		border-bottom: 1px solid #ddd;
    	}
    }
}
.col-bgs {
	background-size: cover !important;
	padding-top: 15px;
	position: relative;
	&:after {
		content: "";
	    width: 100%;
	    height: 100%;
	    background: rgba(255, 246, 162, 0.4);
	    backdrop-filter: blur(15px);
	    top: 0;
	    left: 0;
	    position: absolute;
	}
}
.col-filter {
	.box-bar .title-bar {
		width: calc(100% + 40px);
	    background: $yellow;
	    position: relative;
	    left: -20px;
	    display: flex;
	    align-items: center;
	    padding: 10px 20px;
	    color: #fff;
	    margin-bottom: 0;
	    top: -20px;
	}
}