.i-filter {
	input {
		margin-right: 10px;
		position: relative;
		top: 2px;
	}
	label {
		cursor: pointer;
	}
}
.total-prd {
	font-size: 12px;
}
.list-prd-cate {
	.col-md-4 {
		padding: 15px;
	}
	.avarta {
		padding: 0 15px;
		a {
			display: flex;
			align-items: center;
		}
	}
	.info-cate {
		padding: 15px;
		ul {
			display: flex;
			justify-content: space-between;
		}
		.price-cate {
			font-size: 18px;
			font-weight: 400;
			color: $green;
		}
	}
}
#product {
	padding: 60px 0 0 0;
}
.info-preview {
	h1 {
		font-size: 24px;
	    font-weight: 400;
	    margin-bottom: 10px;
	}
	.del-vote {
		justify-content: space-between;
	    font-size: 12px;
	    color: #BBBBBB;
	}
	.price {
		font-family: Impact;
	    font-size: 52px;
	    font-weight: 900;
	    color: #E52E2D;
	}
	.info-prod {
		font-size: 14px;
    	color: #666666;
    	ul {
    		padding-left: 18px;
    		li {
    			padding: 3px 0;
    		}
    	}
	}
}
.style-prd {
	padding: 10px 0 20px 0;
}
.item-style {
	margin-bottom: 30px;
	h3 {
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 10px;
	}
}
.check-style {
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	label {
		cursor: pointer;
	}
}
.check-color {
	label {
		width: 70px;
		height: 60px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid transparent;
	}
	[type="radio"]:checked + label {
		border: 2px solid $yellow;
	}
}
.check-size {
	label {
		width: 30px;
		height: 30px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	[type="radio"]:checked + label {
		border: 1px solid $yellow;
		color: $yellow;
	}
}
.btn-buy-now {
	a {
		min-width: 150px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 36px;
		border-radius: 4px;
		color: $yellow;
		border: 1px solid $yellow;
	}
}
.btn-preview {
	padding: 20px;
    border: 1px solid #ddd;
    display: flex;
}