*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$yellow: #FAAD3D;
$green :#8FD021;
body {
    box-sizing: border-box;
    color: #000000;
    padding: 0 !important; 
    font-size: 16px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    font-family: 'Nunito'; 
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;  
    }    
    a { 
        transition: .3s all !important; 
        color: #000000; 
        &:hover {
            color: $yellow;      
        }  
    } 
    ul {    
    	padding: 0; 
    	margin: 0; 
    }   
    input, button {   
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1200px;
    } 
    img {
        max-width: 100%;
    }
}
@import "layer.scss";
@import "new.scss";
.container-fluid {
    padding: 0;
    .row {
        margin: 0;

    }
} 

.slick-slider {
    margin-bottom: 0;
}
.avarta {
    overflow: hidden;
    position: relative;
    img { 
        transition: .7s all;
        &:hover {
            transition: .7s all;
            transform: scale(1.08); 
        }
    }
}  
 
.prod-bg {
    background-size: cover !important;
}


// main 
.item-banner {
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .4;
        position: absolute;
        top: 0;
        left: 0;
    }
    .caption {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            color: $yellow;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 48px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 50px;
        }
    }
}
.btn-buy {
    a {
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        background: $yellow;
        display: inline-flex;
        height: 40px;
        align-items: center;
        padding: 0 40px;
        border-radius: 30px;
        border: 1px solid $yellow;
        &:hover {
            color: $yellow;
            background: #fff;
        }
    }
}
.slick-dots {
    bottom: 10px; 
    button {
        display: none !important;
    }
    li {
        width: 8px;
        height: 8px;
        background: #bbbbbb;
        border-radius: 100%;
        &.slick-active {
            background: #fff;
        }
    }
}
.box-commitment {
    padding: 30px 0;
    background: #F6F6F6;
}
.item-commit-tit {
    height: 100%;
    display: flex;
    align-items: center;
    h2 {
        font-size: 30px;
        font-weight: 700;
        position: relative;
        padding-top: 10px;
        &:after {
            content: "";
            width: 70px;
            height: 4px;
            border-radius: 30px;
            background: $yellow;
            position: absolute;
            top: -4px;
            left: 0;
        }
    }
}
.item-commit {
    display: flex;
    padding: 25px 15px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.00976562);
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    transition: .3s all !important; 
    top: 0;
    position: relative;
    .icon {
        flex: 0 0 30px;
        margin-right: 15px;
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        color: #000000;
    }
    path {
        fill: $yellow;
        // transition: .3s all !important; 
    }
    &:hover {
        background: $yellow;
        color: #fff;
        top: -15px;
        path {
        fill: #fff;
        }
        h3 {
            color: #fff; 
        }
    }
}
.box-product {
    padding: 40px 0;
    .title {
        margin-bottom: 35px;
        h2 {
            font-size: 30px;
            font-weight: 700;
            font-family: $robo; 
        }
    }
    .container {
        overflow: hidden;
    }
}
.c-green {
    color: #8FD021;
}
.c-red {
    color: red;
}
.list-product {
    position: relative;
    z-index: 2;
    .col-md-3 {
        margin-bottom: 30px;
    }
}
.item-prd {
    height: 100%;
    border: 1px solid #bbb;
    background: #fff;
    .p-top {
        font-size: 12px;
        font-weight: 400;
        padding: 15px 15px 5px 15px;
    }
    h3 {
        a {
            display: block;
            font-size: 16px;
            font-weight: 700;
            padding: 0 15px 15px 15px;
        }
    }
    .avarta {
        position: relative;
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        ul {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .price {
            font-family: 'Impact';
            font-size: 34px;
            font-weight: 400;
            text-shadow: 2px -2px 0px #fff;
        }
    }
    .btn-cart {
        a {
            display: flex;
            height: 53px;
            width: 53px;
            justify-content: center;
            align-items: center;
            border: 1px solid #bbb;
            background: #fff;
        }
    }
}
.pagination {
    a {
        display: flex;
        height: 30px;
        align-items: center;
        background: #F6F6F6;
        justify-content: center;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 500;
        color: #BBBBBB;
        padding: 0 12px;
        &.active, &:hover {
            background: #000000;
            color: #fff;
        }
    }
}
.prod-bg {
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 246, 162, 0.4);
        backdrop-filter: blur(15px);
        top: 0;
        left: 0;
        position: absolute;
    }
    .title {
        position: relative;
        z-index: 2;
        background: #FED43E;
        padding: 10px 0;
        font-family: $robo;
        a {
            font-size: 13px;
            font-weight: 500;
            img {
                margin-left: 10px;
            }
        }
    }
}
.box-sale {
    padding: 45px 0;
}
.list-sales {
    .col-md-6 {
        padding: 15px;
    }
}
.item-sale {
    display: flex;
    font-family: $robo;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px #ddddddbf;
    .avarta {
        flex: 0 0 46%;
        span {
            position: absolute;
            z-index: 2;
            background: $yellow;
            top: 10px;
            left: 10px;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            color: #fff;
        }
    }
    .info {
        padding: 20px;
        h4 {
            font-size: 12px;
            font-weight: 500;
            color: $yellow;
            margin-bottom: 8px;
        }
        h3 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        ul {
            list-style: none;
            font-size: 13px;
            color: #666666;
            line-height: 1.4;
        }
    }
}
.box-video {
    position: relative;
    .play-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.modal-dialog {
    max-width: 1000px;
    iframe {
        width: 100%;
    }
}
.feedback {
    padding: 60px 0;
    font-family: $robo;
}

.title {
    margin-bottom: 35px;
    h2 {
        font-size: 30px;
        font-weight: 700;
        font-family: $robo;
    }
}
.item-fback {
    padding: 20px;
    border: 1px solid #eee;
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .user-fb {
        flex: 0 0 50px;
        margin-right: 15px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    h4 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 0;
    }
    .desc {
        font-size: 14px;
        color: #666666;
    }
}
.slide-feedback {
    margin: 0 -15px;
    padding: 0 5px;
    .item-slide {
        padding: 0 15px;
    }
}
.box-new {
    padding: 60px 0;
}
.item-new-home {
    font-family: $robo;
    .avarta {
        span {
            font-size: 12px;
            font-weight: 500;
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
            padding: 6px 16px;
        }
    }
    ul {
        list-style: none;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        img {
            margin-right: 5px;
        }
        label {
            color: $yellow;
        }
    }
    .info {
        a {
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.4;
            margin-top: 8px;
        }
    }
}
.box-new-map {
    div[class|="col"] {
        padding: 0;
    }
}
.maps {
    iframe {
        width: 100%;
        height: 540px;
    } 
}
.new-big {
    position: relative;
    .thumbs-video {
        overflow: hidden;
        img {
            object-fit: cover;
            height: 540px;
        }
    }
    .play-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.box-new-home {
    display: flex;
    padding-right: 30px;
    .left {
        flex: 0 0 75%;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .right {
        flex: 0 0 25%;
        padding-left: 15px;
        box-sizing: border-box;
    }
}
.new-small {
    list-style: none;
    max-height: 540px;
    overflow: hidden;
    ul {
        list-style: none;
    }
}
.item-new-small {
    font-family: $robo;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd !important;
    .avarta {
        margin-bottom: 10px;
    }
    .info {
        a {
            display: block;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #bbbbbb;
        padding-top: 6px;
    }
}
.box-prd-top {
    font-family: $robo;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;
}
.btn-list-cate {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px;
    color: #000000;
    letter-spacing: .5px;
    border: 1px solid #FEB53E;
}
.list-cate-prd {
    font-size: 14px;
    // font-weight: 500; 
    color: #999999;
    padding: 15px;
    border: 1px solid $yellow;
    transition: .4s all;
    background: #fff;
    z-index: 2;
    position: absolute;
    width: calc(100% - 30px);
    left: -100%;
    top: 49px;
    ul {
        list-style: none;
        li {
            padding: 5px 0;
        }
    }
    &.active {
        transition: .4s all;
        left: 15px;
    }
}
.soft-right {
    li {
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
    }
    select {
        height: 35px;
        min-width: 140px;
        border: 0;
        background: #F6F6F6;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 500;
        color: #666666;
        text-transform: uppercase;
    }
}

.banner-about {
    position: relative;
    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
    }
    h4 {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 48px;
        font-weight: 700;
        padding: 10px 0 30px 0;
    }
    .info-bn-about {
        max-width: 500px;
        margin-right: auto;
        font-size: 14px;
        font-weight: 400;
    }
}
.breadcrumbs {
    padding: 60px 0;
    h2 {
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: 700;
    }
    ul {
        font-size: 12px;
        a {
            color: #BBBBBB;
        }
        li {
            position: relative;
            padding-right: 6px;
            &:last-child {
                padding-right: 0;
                &:after {
                    display: none;
                }
            }
            &:after {
                content: "/";
                position: absolute;
                top: 0;
                right: -4px;
            }
        }
    }
}
.box-about-top {
    padding: 80px 0;
    background: #F6F6F6;
}
.item-ab-top {
    height: 100%;
    padding: 35px 22px;
    background: #fff;
    border-radius: 10px;
    transition: .4s all;
    .icon {
        margin-bottom: 15px;
    }
    h3 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .desc {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        transition: .3s all;
    }
    &:hover {
        transition: .4s all;
        background: $yellow;
        color: #fff;
        .desc {
            color: #fff;
            transition: .3s all;
        }
    }
}
.detail-about {
    padding: 40px 0;
    .detail {
        text-align: justify;
    }
}
.detail {
    p {
        margin-bottom: 15px;
        img {
            max-width: 100%;
        }
    }
}
.box-person {
    padding: 60px 0 0 0;
}
.list-per {
    .col-md-3 {
        padding-bottom: 60px;
    }
}
.item-person {
    .avar-per {
        margin-bottom: 20px;
        img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    p {
       font-size: 13px;
       font-weight: 400;
       font-style: italic; 
    }
}
.box-partner {
    padding: 40px 0;
    background: #fff;
}
.slide-part {
    margin: 0 -10px;
    .item-part {
        padding: 0 10px;
    }
}
#contact {
    padding-bottom: 60px;
}
.form-ct {
    margin-bottom: 40px;
    .row {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    input {
        background: #f6f6f6;
        padding: 0 15px;
        border: 0;
        height: 50px;
        width: 100%;
        &.btn-ct {
            width: 200px;
            background: $yellow;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    textarea {
        background: #f6f6f6;
        padding: 10px 15px;
        border: 0;
        height: 240px;
        width: 100%;
        outline: none;
    }
    label {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 6px;
        display: block;
    }
}
.box-bar-ct {
    .item {
        margin-bottom: 40px;
        color: #666666;
        font-size: 14px;
        .icon {
            margin-bottom: 8px;
        }
        h3 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 10px;
            color: #000000;
        }
        ul {
            list-style: none;
        }
    }
}
.box-bar-prd {
    padding: 20px;
    border: 1px solid #ddd;
    h3 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }
    .item {
        margin-bottom: 20px;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
        .avarta {
            flex: 0 0 70px;
            margin-right: 15px;
        }
        .info {
            a {
                font-size: 12px;
                font-weight: 400;
                // margin-bottom: 6px;
                display: block; 
            }
            .price {
                color: $green;
                font-size: 12px;
            }
        }
    }
}
@import "product.scss";





// end main 